<h3>Formulaire d'annonce</h3>

<div class="well">
	Ice se trouvera le formulaire
</div>

{% block panier %}

    <section id="cart_items">
        <div class="container">
            <div class="table-responsive cart_info">
                <table class="table table-condensed">
                    <thread>
                        <tr class="cart_menu">...</tr>
                    </thread>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </section>

{% endblock %}
