<!DOCTYPE html>
<html>
	<head>
		<title> Bienvenue !</title>
	</head>
	<body>
		<h1>Affichage d'une annonce</h1>
		
		<p>
			{% for message in app.session.flashbag.get('info') %}
				<p>Message flash : {{ message }}</p>
			{% endfor %}$
		</p>
		
		<p>
			Annonce ayant pour id : {{ id }}<br />
			cfzfvenfv
		</p>
	</body>
</html>